* {
  overflow: hidden;
  margin: 0;
}
.App {
  background: #1d1c1c;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {  
  background: #665dc1;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

h2 {
  font-size: 30px;
  text-align: center;
}
.login-form, label {
  font-size: 21px;
}
input {
  height: 23px;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin-top: -8px;
  margin-bottom: 10px;
  font-size: 15px;
}

.submit-btn {
  height: 33px;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 18px;
  color:#665dc1;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s
}
.submit-btn:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}